## Sum of  consecutive elements of given three lists

In [6]:
array_a = input("Enter 5 numbers spearated by space")
array_b = input("Enter 5 numbers spearated by space")
array_c = input("Enter 5 numbers spearated by space")

Enter 5 numbers spearated by space191 24 46 78 92
Enter 5 numbers spearated by space22 23 24 25 26
Enter 5 numbers spearated by space99 98 97 96 95

In [7]:
array_a

'191 24 46 78 92 '

In [8]:
array_b

'22 23 24 25 26'

In [9]:
array_c

'99 98 97 96 95'

In [12]:
array_a = array_a.split()
array_b = array_b.split()
array_c = array_c.split()

AttributeError: 'list' object has no attribute 'split'

In [13]:
array_a

['191', '24', '46', '78', '92']

In [15]:
sum_of_arrays= []
for i in range (0,len(array_a)):
    new_value= int(array_a[i])+int(array_b[i])+int(array_c[i])
    sum_of_arrays.append(new_value)
print(sum_of_arrays)

[312, 145, 167, 199, 213]

## Vowel Count in any given paragraph

In [16]:
paragraph = """
I donot know that we will be, that bad we.  wow!!! ridiculous shishir shishir shishir hello hello, hello. ,. Kathmandu is the
the most popul;ated city of nepal 
"""
vowels = ['a','e','i','o','u']
paragraph = paragraph.lower()
count= {}
for v in vowels: 
    count[v]=0

In [18]:
consonants=0
for c in paragraph : 
    if 'a'==c : 
        count['a']+=1
    elif 'e'==c :
        count['e']+=1
    elif 'i'==c :
        count['i']+=1
    elif 'o'==c :
        count['o']+=1
    elif 'u'==c :
        count['e']+=1
    else: 
        consonants+=1
print(count, consonants)

{'a': 7, 'e': 14, 'i': 12, 'o': 11, 'u': 0} 118

In [19]:
vowels [2]='x'
count= {}
for v in vowels: 
    count[v]=0

In [21]:
for v in count: 
    count[v]=paragraph.count(v)

In [22]:
count

{'a': 7, 'e': 10, 'o': 11, 'u': 4, 'x': 0}

In [23]:
vowels = tuple(['a','e','i','o','u'])

In [24]:
vowels[1]='x'

TypeError: 'tuple' object does not support item assignment

### Ceaser Cipher

In [26]:
def caeser_shift(message):
    print (message)
caeser_shift('Hello World')

Hello World

In [27]:
def caeser_shift(message):
    shift = 3
    return message

In [28]:
ord('a')

97

In [29]:
chr(97)

'a'

In [6]:
def caeser_shift(message,shift):
    new_message=''
    for c in message: 
        #if (ord(message)+shift >90 and ord(message)+shift>122): 
            if (c==' '):
                 new_message= new_message+ chr(ord(c))
        
            else:    
                new_message+= chr(ord(c)+shift)
    return new_message
caeser_shift('Hello World', shift=6)

'Nkrru ]uxrj'

In [50]:
ord(']')

93

In [54]:
ord('Z')

90

In [55]:
ord('z')

122

In [1]:
ord('a')

97

In [2]:
ord('A')

65

In [7]:
ord('hello')

TypeError: ord() expected a character, but string of length 5 found

In [36]:
ord('N')

78

In [48]:
def caeser_shift(message,shift):
    new_message=''
    
    for c in message: 
        if (c==' '):
            new_message= new_message+ chr(ord(c))
            final_letter=''
        else:    
            if (ord(c)>= 97 and ord(c)<=122):
                final_letter =chr((ord(c) - 97 + shift) % 26 + 97)
            elif(ord(c)>= 65 and ord(c)<=90):
                final_letter = chr((ord(c) - 65 + shift) % 26 + 65)
        new_message+= final_letter 
    return new_message
caeser_shift('ShiThir Sapkota', shift=-6)

'MbcNbcl Mujeinu'